<app-admin-navbar></app-admin-navbar>
<mat-card class="mt-5 mb-5">
  <mat-card-header class="row">
    <div class="col">
      <mat-card-title>
        Empleados
      </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content class="demo-button-container">
    <button style="vertical-align: middle;" mat-raised-button (click)="addEmployee()"  class="demo-button btn btn-success">
      Nuevo Empleado <i class="bi bi-plus-circle"> </i>
    </button>
</mat-card-content>
<mat-card-content>
  <table style="width: 100%;" class="table mat-elevation-z8">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Edad</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Sexo</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employees" (click)="updateEmployee(employee)">
      <tr class="trbody">
        <th scope="col">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.phone_number}}</td>
        <td>{{employee.gender}}</td>
        <td>
          <div *ngIf="employee.state=='a'" class="btn btn-success">Activo</div>
          <div *ngIf="employee.state=='i'" class="btn btn-danger">Inactivo</div>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card-content>
</mat-card>