<div class="row">
    <div mat-dialog-title class="col"><h1>Actualizar orden</h1></div>
    <div class="col right"> <button (click)="close()" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button></div>
</div>
<form #UpdateOrderForm (submit)="update()">
    <div mat-dialog-content>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text">Recibido</span>
            <input disabled type="text" matInput required name="rdate" 
            #r_date="ngModel" [(ngModel)]="order.r_date" class="form-control" aria-label="Server" type="text">
            <span class="input-group-text">Entregado</span>
            <input disabled type="text" matInput required name="gdate" 
            #g_date="ngModel" [(ngModel)]="order.g_date" class="form-control" aria-label="Server" type="text">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Cliente</span>
            <input type="text" matInput required name="customer" 
            #customer="ngModel" [(ngModel)]="order.customer" class="form-control" aria-label="Server">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Teléfono</span>
            <input type="number" matInput required name="phone_number" 
            #phone_number="ngModel" [(ngModel)]="order.phone_number" class="form-control" aria-label="Server">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" matInput required name="name" 
            #name="ngModel" [(ngModel)]="order.name" class="form-control" aria-label="Server">

        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Descripcion</span>
            <textarea matInput required name="description" 
            #description="ngModel" [(ngModel)]="order.description" class="form-control" aria-label="Server">
            </textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Comentarios</span>
            <textarea matInput required name="comments" 
            #comments="ngModel" [(ngModel)]="order.comments" class="form-control" aria-label="Server">
            </textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Piezas</span>
            <input type="number" matInput required name="pieces" #pieces="ngModel" [(ngModel)]="order.pieces" class="form-control" aria-label="Server">
            <span class="input-group-text">Precio</span>
            <input type="number" matInput required name="prize" #prize="ngModel" [(ngModel)]="order.prize" class="form-control" aria-label="Server">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Anticipo</span>
            <input type="text" matInput required name="balance" #balance="ngModel" [(ngModel)]="order.balance" class="form-control" aria-label="Server">
            <span class="input-group-text">Total</span>
            <div class="form-control" aria-label="Server">{{order.total}}</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Recibió</span>
            <div matInput required name="rEmployee" class="form-control" aria-label="Server">
                {{order.r_employee}}
            </div>
            <span class="input-group-text">Entregó</span>
            <div matInput required name="gEmployee" class="form-control" aria-label="Server">
                {{order.g_employee}}
            </div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Estado</span>
            <select required name="status" 
            #status="ngModel" [(ngModel)]="order.status" class="form-control" id="status">
            <option value="p">Pendiente</option>
            <option value="e">Entregado</option>
            <option value="t">Terminado</option>
            <option value="c">Cancelado</option>
            </select>
            <span class="input-group-text">Folio</span>
            <input type="number" matInput required name="folio" #folio="ngModel" [(ngModel)]="order.folio" class="form-control" aria-label="Server">
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="right">
          <button mat-button class="btn btn-secondary" type="button" (click)="close()" >Cancelar</button>
          <button mat-button class="btn btn-success"  type="submit">Actualizar</button>
        </div>
      </div>
</form>