<div class="row">
  <div mat-dialog-title class="col"><h1>Actualizar orden</h1></div>
  <div class="col right"> <button (click)="close()" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button></div>
</div>

  <div mat-dialog-content>
    <br>
    <div class="input-group mb-3">
      <span class="input-group-text">Recibido:</span>
      <div class="form-control" aria-label="Server">{{order.r_date}}</div>
      <span *ngIf="order.status=='pendiente'" class="input-group-text" style="background-color: #FFDF16; color:white">Pendiente</span>
      <span *ngIf="order.status=='entregado'" class="input-group-text "style="background-color: #4BB9D6; color:white">Entregado:</span>
      <span *ngIf="order.status=='terminado'" class="input-group-text"style="background-color: #6BB374; color:white">Terminado:</span>
      <span *ngIf="order.status=='cancelado'" class="input-group-text "style="background-color: #FF4F4F; color:white">Cancelado:</span>
      <div class="form-control">{{order.g_date}}</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Cliente</span>
      <div class="form-control" aria-label="Server">{{order.customer}}</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Teléfono</span>
      <div class="form-control">{{order.phone_number}}</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Nombre</span>
      <div class="form-control">{{order.name}}</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Descripcion</span>
      <div class="form-control">{{order.description}}</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Comentarios</span>
      <div class="form-control">{{order.comments}}</div>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Piezas</span>
      <div class="form-control">{{order.pieces}}</div>
      <span class="input-group-text">Precio</span>
      <div class="form-control">{{order.prize}}</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Anticipo</span>
      <div class="form-control">{{order.balance}}</div>
      <span class="input-group-text">Total</span>
      <div class="form-control" aria-label="Server">{{order.total}}</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Recibió</span>
      <div matInput required name="rEmployee" class="form-control" aria-label="Server">
        {{order.r_employee}}
      </div>
      <span *ngIf="order.status=='cancelado'" class="input-group-text">Canceló:</span>
      <span *ngIf="order.status=='recibido'" class="input-group-text">Pendiente:</span>
      <span *ngIf="order.status=='entregado'" class="input-group-text">Entregó:</span>
      <span *ngIf="order.status=='terminado'" class="input-group-text">Terminado</span>
      <div matInput required name="gEmployee" class="form-control" aria-label="Server">
        {{order.g_employee}}
      </div>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item center">Actualizar estado</li>
        <li class="list-group-item">
          <div class="row">
            <div class="col center"><button (click)="updateStatus('recibido',order.id)" type="button" class="btn  btn-warning">Pendiente</button></div>
            <div class="col center"><button (click)="updateStatus('cancelado',order.id)" type="button" class="btn  btn-danger">Cancelado</button></div>
            <div class="col center"><button (click)="updateStatus('terminado',order.id)" type="button" class="btn  btn-success">Terminado</button></div>
            <div class="col center"><button (click)="updateStatus('entregado',order.id)" type="button" class="btn  btn-primary">Entregado</button></div>
          </div>
        </li>
      </ul>
    </div>
    <br>
  </div>
  <div mat-dialog-actions>
    <div class="right">
      <button mat-button class="btn btn-secondary" type="button" (click)="close()" >Cancelar</button>
      <button mat-button class="btn btn-success"  type="submit">Actualizar</button>
    </div>
  </div>

